---
import type { CollectionEntry } from "astro:content";

export interface Props {
  tournament: CollectionEntry<"tournaments">;
}

const { tournament } = Astro.props;
const { name, dots, eligibility, date, location, link } = tournament.data;

let title = `${name} (${dots} dot`;
if (eligibility === "open") {
  title += " open";
}
title += ")";

let normalisedLocation: string | undefined;
if (location === undefined) {
  normalisedLocation = undefined;
} else if (typeof location === "string") {
  normalisedLocation = location;
} else {
  normalisedLocation = location.join(", ");
}

let description = date.toLocaleDateString("en-GB", {
  day: "numeric",
  month: "short",
  year: "numeric",
});
if (normalisedLocation) {
  description += ` · ${normalisedLocation}`;
}
---

<div class="card-shadow rounded-xl bg-white px-4 md:px-5 md:py-2">
  <h4>{title}</h4>
  <p class="-mt-6">{description}</p>
  {link && <a href={link}>View Facebook event</a>}
</div>
