---
import type { CollectionEntry } from "astro:content";
import Dots from "./Dots.astro";
import Link from "./Link.astro";

export interface Props {
  tournament: CollectionEntry<"tournaments">;
}

const { tournament } = Astro.props;
const { name, dots, eligibility, date, location, link, popCulture } =
  tournament.data;

const descriptionItems = [];
if (eligibility === "open") {
  descriptionItems.push("Open");
}
if (popCulture) {
  descriptionItems.push("Pop culture");
}
if (typeof location === "string") {
  descriptionItems.push(location);
}

const description = descriptionItems.join(" · ");
---

<div class="card-shadow h-fit rounded-xl bg-white px-4 py-4 md:px-5">
  <div class="flex items-center justify-between">
    {
      date.toLocaleDateString("en-GB", {
        day: "numeric",
        month: "short",
        year: "numeric",
      })
    }
    <Dots dots={dots} />
  </div>
  <h4 class="mt-1 -mb-1 flex items-center gap-3 text-2xl">
    {name}
  </h4>
  <p class="mt-2 mb-0">{description}</p>
  {
    location &&
      typeof location !== "string" &&
      Object.entries(location).map(([siteName, siteLocation]) => (
        <div class="mt-1 mb-0">
          {siteLocation} ({siteName} mirror)
        </div>
      ))
  }
  {link && <Link class="mt-2" link={link} />}
</div>
